<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>rabble</string>
            </array>
            <key>CFBundleURLName</key>
            <string>com.app.rabble</string>
        </dict>
    </array>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Rabble requires access to your photo library to profile pictures.</string>

    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key><true/>
    </dict>

    <key>NSCameraUsageDescription</key>
    <string>Rabble requires access to the camera to capture photos for profile pictures.</string>

    <key>NSContactsUsageDescription</key>
    <string>Access to the photo library is required to enhance your experience with Rabble. You can choose photos to customize your profile, share memorable moments. We respect your privacy and ensure that your photos are securely handled within the app. Granting access will enable you to fully enjoy all the features Rabble has to offer. Thank you!</string>
    
    
    <key>com.apple.developer.associated-domains</key>
    <array>
        <string>applinks:https://www.rabble.market/?mode=developer</string>
    </array>
    
    
	<key>branch_universal_link_domains</key>
	<array/>
	<key>item 0</key>
	<string>rabble.app.link</string>
	<key>item 1</key>
	<string>rabble-alternate.app.link</string>
	<key>item 2</key>
	<string>rabble.test-app.link</string>
	<key>item 3</key>
	<string>rabble-alternate.test-app.link</string>
	<key>branch_key</key>
	<dict>
		<key>test</key>
		<string>key_test_cundEc8jlWLQpho2CTJvoogiDskZhpV8</string>
		<key>live</key>
		<string>key_live_hFamvc9lj4PRkil4rQKsDmlbrBj7bb7n</string>
	</dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Rabble</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>rabble</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
